<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

	
<suite name="Regression">

    <!-- Configuring parameters for the entire suite -->
    <parameter name="browser" value="chrome" />
	
	<listeners>
		<listener class-name="OHRM.utilities.ExtentReporterNG" />
	</listeners>

    <test name="MyTest">
                <classes>
            <!--<class name="Selenium.Selenium.TestNGBasics" />-->
            <class name="Selenium.Selenium.TestNGBasics2" />
        </classes>
        
        
        
        
    </test>


</suite>
