<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

	
<suite name="Regression">

    <!-- Configuring parameters for the entire suite -->
    <parameter name="browser" value="chrome" />
	
	<listeners>
		<listener class-name="OHRM.utilities.Reporting" />
	</listeners>

    <test name="MyTest">
       <classes>
            <!--<class name="Selenium.Selenium.TestNGBasics" />-->
            <!--<class name="OHRM.Tests.LoginTest" />-->
            <class name="OHRM.Tests.AdminTest" />
        </classes>
        
        
        
        
    </test>


</suite>
