<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyTestSuite">

    <!-- Configuring parameters for the entire suite -->
    <parameter name="browser" value="chrome" />

    <!-- Setting up test parameters -->
    <test name="MyTest">
        
        <!-- Configuring parameters specific to this test -->
        <parameter name="environment" value="qa" />
        
        <!-- Test classes to be included in this test -->
        <classes>
            <class name="Selenium.Selenium.TestNGBasics" />
        </classes>
        
    </test>


</suite>
